%rebase('osnova.html')

+
<div class="container"  style="width: 500px; height:200px; background-color: rgba(253, 253, 253, 0.877);">
    <p class="text-uppercase"><h1>Minolovec</h1> </p>
    <p class="text-info"> Preprosta igra za razvredrilo</p>


    
<div class="container" style="width: 500px; height:200px; background-color: rgba(140, 140, 236, 0.1);">
  <form action="/igra/" method="POST">
    <h3>Izberi težavnost:</h3>
    Število vrstic: <input type="number" class="form-group col-md-2" name="st_vrstic" value="9"> <br/>
    Število stolpcev: <input type="number" class="form-group col-md-2" name="st_stolpcev" value="9"> <br/>
    število min: <input type="number"  class="form-group col-md-2" name="st_bombic" value="10"> <br/>   
</div>
  
  
    <button type="submit" class="btn btn-dark" style="width: 500px; height:50px ">Nova igra</button>
  

  </form>

</div>
  
